@import "tailwindcss";

@font-face {
  font-family:'Kanit';
  src: url(./fonts/Kanit/Kanit-Black.ttf);
}
@font-face {
  font-family:'Kanit-SemiBold';
  src: url(./fonts/Kanit/Kanit-SemiBold.ttf);
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --rotateOffset: 0deg;
}
* {
  box-sizing: border-box;
  text-align: center;
}
body {
  background-color: #404A65;
  font-family: 'Kanit-SemiBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: centers;
  color: #ECEDF0;
}
h1 {
  font-family: 'Kanit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




  /* Custom Classes */
.text-shadow-100 {
  /* Heading Text Shadow */
  text-shadow: 2px 2px 0px #35383f;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #35383f;

}

.box-shadow-100 {
  /* Button Shadow */
  box-shadow: 0px 4px 0px 0px #23649b;
}




/* Custom Components Styles */
.coin-image {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.random-btn {
  background-color: #1F6FB0;
}




/* Animations */
.floating-animation {
  animation: float 3s ease-in-out infinite;
}
.floating-and-spin-animation {
  animation: floatAndSpin 1s linear infinite;
}
/* .floating-and-spin-animation.Heads,
.floating-and-spin-animation.Tails {
  animation: floatAndSpin 1s linear;
} */
.scale-and-spin-animation {
  animation: scaleAndSpin 1s linear infinite;
}
.shadow-animation {
  animation: shadow-animation 3s ease-in-out infinite;
}

/* Keyframes */
@keyframes float {
  0% {
    transform: translateY(0)  rotateY(var(--rotateOffset));
  }
  50% {
    transform: translateY(-10px)  rotateY(var(--rotateOffset));
  }
  100% {
    transform: translateY(0)  rotateY(var(--rotateOffset));
  }
}
@keyframes floatAndSpin {
  0% {
    transform: translateY(0) rotateY(0deg);
  }
  50% {
    transform: translateY(-10px) rotateY(180deg);
  }
  100% {
    transform: translateY(0) rotateY(360deg);
  }
}
@keyframes scaleAndSpin {
  0% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.2) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(360deg);
  }
}

@keyframes shadow-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  --rotateOffset: 0deg;
  --rotateFrom: 0deg;
}

@keyframes spinDown {
  from {
    transform: translateY(0) rotateY(var(--rotateFrom));
  }
  to {
    transform: translateY(0) rotateY(var(--rotateOffset));
  }
}

.spin-down {
  animation: spinDown 0.6s ease-out forwards;
}
